.vagrant
*~
.DS_Store
.vscode
.idea
blacksmith.iml

# Local customizations
vagrant_provision_after_docker_installation.local

# Auto generated
/blacksmith
/blacksmithctl
/blacksmith-agent
/vendor
pxe/pxelinux_autogen.go
templating/files_autogen.go
web/ui_autogen.go
web/static/external
web/static/fonts
swagger/

# local
example/example
deploy.sh
remote_deploy.sh
workspaces

#
*.vdi
.vbox_*
