.vagrant
*~
.DS_Store
.vscode

# Local customizations
vagrant_provision_after_docker_installation.local

# Auto generated
blacksmith
pxe/pxelinux_autogen.go
web/ui_autogen.go
web/ui/external
web/ui/fonts

# local
example/example
deploy.sh
remote_deploy.sh
workspaces
