<div class="jumbotron">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src='img/blacksmith.png' alt="Blacksmith Logo">
      <p class="text-center"><a class="btn btn-lg btn-success" role="button" href="http://github.com/cafebazaar/blacksmith/"><span class="glyphicon glyphicon-download"></span> Source Code</a></p>
    </div>
    <div class="media-body">
      <h2>Blacksmith (<code>{{ info.version }}</code>)</h2>
      <p class="lead">Commit: <code>{{ info.commit }}</code></p>
      <p class="lead">Build Time: <code>{{ info.buildTime }}</code></p>
      <p class="lead">IP: <code>{{ info.ip }}</code></p>
      <p class="lead">Uptime: <em>{{ uptime }}</em></p>
    </div>
  </div>
</div>
