<h3>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="getMachines()"><span class="glyphicon glyphicon-refresh"></span></button>
  </div>
  <span class="glyphicon glyphicon-align-justify"></span>  Nodes List
</h3>
<hr>
<form>
  <div class="form-group">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Search Machines Names" ng-model="searchTerm">
    </div>
  </div>
</form>

<div class="modal fade" tabindex="-1" id="machineModal" role="dialog" aria-labelledby="machineModal">
  <div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="machineModal">{{machineName}}</h4>
    </div>
	<div class="modal-body">
        <div class="btn-group" role="group" aria-label="machineLinks">
          <a role="button" class="btn" target="_blank" href="/t/cc/{{machineMac}}?validate=true">Cloudconfig</a>
          <a role="button" class="btn" target="_blank" href="/t/ig/{{machineMac}}">Ignition</a>
          <a role="button" class="btn" target="_blank" href="/t/bp/{{machineMac}}">Bootparams</a>
        </div>
        <hr>
        <div class="row" >
              <div class="col-xs-12 col-md-8"></div>
              <div class="col-xs-6 col-md-4">
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-default btn-xs" ng-click="addMachineVariable()" title="Add New Flag">Add New Flag</button>        
                </div>
              </div>
        </div>
        <table class="table table-striped">
            <tr>
            <td><span class="glyphicon glyphicon-trash"></span>
            </td>
            <td>
              <span> Variable </span>
            </td>
            <td>
              Value
            </td>
          </tr>
           <tr ng-repeat="(k, v) in machineDetails">
            <td><button type="button" class="btn btn-default btn-xs" ng-click="deleteMachineVariable(k)" title="Delete">
              <span class="glyphicon glyphicon-trash"></span>
            </button></td>
            <td>
              <span>{{k}}:</span>
            </td>
            <td>
              <span class="value" editable-text="v" onbeforesave="setMachineVariable(k,$data)">{{v || '(empty)'}}</span>
            </td>
          </tr>
        </table>
    	</div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="errorMessage">{{ errorMessage }}</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th><a href="#/machines/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
        Node Name
        <span ng-show="sortType == 'name'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/machines/" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
        IP Address
        <span ng-show="sortType == 'ip'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/machines/" ng-click="sortType = 'type'; sortReverse = !sortReverse">
        Type
        <span ng-show="sortType == 'type'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/machines/" ng-click="sortType = 'firstAssigned'; sortReverse = !sortReverse">
        First IP Assignment Time
        <span ng-show="sortType == 'firstAssigned'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/machines/" ng-click="sortType = 'lastAssigned'; sortReverse = !sortReverse">
        Last IP Assignment Time
        <span ng-show="sortType == 'lastAssigned'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
	<th>Configuration</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="machine in machines | orderBy:sortType:sortReverse | filter:searchTerm">
    <td>{{ machine.name }}</td>
    <td>{{ machine.ip }}</td>
    <td>{{ machine.type }}</td>
    <td>{{ machine.firstAssigned * 1000 | date :'medium' }}</td>
    <td>{{ machine.lastAssigned  * 1000 | date :'medium' }}</td>
    <td><button class="btn btn-info btn-xs" ng-click="getMachine(machine.nic, machine.name, machine.IPMInode)" data-toggle="modal" data-target="#machineModal"> View/Modify </button></td>
  </tr>
  </tbody>
</table>
