<h3>
  <span class="glyphicon glyphicon-align-justify"></span>  Nodes List
</h3>
<hr>
<div class="alert alert-danger" role="alert" ng-if="errorMessage">{{ errorMessage }}</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>MAC Address</th>
    <th>IP Address</th>
    <th>First IP Assignment Time</th>
  <th>Last IP Assignment Time</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="node in nodes">
    <td>{{ $index + 1 }}</td>
    <td>{{ node.Nic }}</td>
    <td>{{ node.IP }}</td>
    <td>{{ node.FirstAssigned }}</td>
  <td>{{ node.LastAssigned }}</td>
  </tr>
  </tbody>
</table>
