<h3>
  <div class="pull-right">
    <button class="btn btn-default" ng-click="getNodes()"><span class="glyphicon glyphicon-refresh"></span></button>
  </div>
  <span class="glyphicon glyphicon-align-justify"></span>  Nodes List
</h3>
<hr>
<form>
  <div class="form-group">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Search Node Names" ng-model="searchTerm">
    </div>
  </div>
</form>

<div class="modal fade" tabindex="-1" id="nodeModal" role="dialog" aria-labelledby="nodeModal">
  <div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="nodeModal">{{nodeName}}</h4>
    </div>
	<div class="modal-body">
    <div class="btn-group" role="group" aria-label="nodeLinks">
      <a role="button" class="btn" target="_blank" href="/t/cc/{{nodeMac}}?validate=true">Cloudconfig</a>
      <a role="button" class="btn" target="_blank" href="/t/ig/{{nodeMac}}">Ignition</a>
      <a role="button" class="btn" target="_blank" href="/t/bp/{{nodeMac}}">Bootparams</a>
    </div>
    <hr>
    <button type="button" class="btn btn-default btn-xs" ng-click="addFlag()" title="Add New Flag">Add New Flag</button>
    <table class="property-table">
      <tr ng-repeat="(k, v) in nodeDetails">
        <td><button type="button" class="btn btn-default btn-xs" ng-click="deleteFlag(k)" title="Delete">
          <span class="glyphicon glyphicon-trash"></span>
        </button></td>
        <td style="text-align:left;font-weight:bold;padding: 5px 4px;">
          <span>{{k}}:</span>
        </td>
        <td style="padding-right: 5px;">
          <span class="value" editable-text="v" onbeforesave="setFlag(k,$data)">{{v || '(empty)'}}</span>
        </td>
      </tr>
    </table>
	</div>
  </div></div>
</div>

<div class="alert alert-danger" role="alert" ng-if="errorMessage">{{ errorMessage }}</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th><a href="#/nodes/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
        Node Name
        <span ng-show="sortType == 'name'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/nodes/" ng-click="sortType = 'ip'; sortReverse = !sortReverse">
        IP Address
        <span ng-show="sortType == 'ip'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/nodes/" ng-click="sortType = 'firstAssigned'; sortReverse = !sortReverse">
        First IP Assignment Time
        <span ng-show="sortType == 'firstAssigned'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
    <th><a href="#/nodes/" ng-click="sortType = 'lastAssigned'; sortReverse = !sortReverse">
        Last IP Assignment Time
        <span ng-show="sortType == 'lastAssigned'" ng-class="sortReverse ? 'caret' : 'caret caret-reversed'"></span>
    </a></th>
	<th>Configuration</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="node in nodes | orderBy:sortType:sortReverse | filter:searchTerm">
    <td>{{ node.name }}</td>
    <td>{{ node.ip }}</td>
    <td>{{ node.firstAssigned | date :'medium' }}</td>
    <td>{{ node.lastAssigned  | date :'medium' }}</td>
	<td><button class="btn btn-info btn-xs" ng-click="getNode(node.nic, node.name)" data-toggle="modal" data-target="#nodeModal"> View/Modify </button></td>
  </tr>
  </tbody>
</table>
