.on-drag-enter
{
  background-color:#eee;
  -moz-transition:background-color .5s;
  -webkit-transition:background-color .5s;
  -o-transition:background-color .5s;
  transition:background-color .5s;
}

.delete-button
{
  cursor: pointer;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}
